body {
    background-color: black;
    color: red;

}

#main {
    display:grid;
    grid-template-columns: auto 1fr;
    gap: 16px
}
#characters {
    color: black;
    background-color: blueviolet;
}